/* ===================================================== */
/*                         Core                          */
/* ===================================================== */
@container-mobail: ~"(min-width: 576px)";
@container-mobail-area: 540px;

@container-tablet: ~"(min-width: 768px)";
@container-tablet-area: 720px;

@container-laptop: ~"(min-width: 992px)";
@container-laptop-area: 960px;

@container-desktop: ~"(min-width: 1200px)";
@container-desktop-area: 1140px;

@container-large-desktop: ~"(min-width: 1400px)";
@container-large-desktop-area: 1320px;

#wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#header {
	flex: 0 0 auto;
	width: 100%;
}

#main,
section {
	flex: 1 0 auto;
	width: 100%;
}

#footer {
	flex: 0 0 auto;
	width: 100%;
}

.fullscreen {
	min-height: 100vh;
	width: 100%;
}