/* ===================================================== */
/*                     Developer tool                    */
/* ===================================================== */
.dev * { outline: #b22222 dashed 2px; }

.dev * * { outline: #2e8b57 dashed 2px; }

.dev * * * { outline: #ff8c00 dashed 2px; }

.dev * * * * { outline: #0000cd dashed 2px; }