/* ===================================================== */
/*                 Grid system (9 column)                */
/* ===================================================== */
@col-9th-1: 11.111111%;
@col-9th-2: 22.222222%;
@col-9th-3: 33.333333%;
@col-9th-4: 44.444444%;
@col-9th-5: 55.555555%;
@col-9th-6: 66.666666%;
@col-9th-7: 77.777777%;
@col-9th-8: 88.888888%;
@col-9th-9: 100%;

.xs-9th-1 { flex: 0 0 @col-9th-1; max-width: @col-9th-1; }
.xs-9th-2 { flex: 0 0 @col-9th-2; max-width: @col-9th-2; }
.xs-9th-3 { flex: 0 0 @col-9th-3; max-width: @col-9th-3; }
.xs-9th-4 { flex: 0 0 @col-9th-4; max-width: @col-9th-4; }
.xs-9th-5 { flex: 0 0 @col-9th-5; max-width: @col-9th-5; }
.xs-9th-6 { flex: 0 0 @col-9th-6; max-width: @col-9th-6; }
.xs-9th-7 { flex: 0 0 @col-9th-7; max-width: @col-9th-7; }
.xs-9th-8 { flex: 0 0 @col-9th-8; max-width: @col-9th-8; }
.xs-9th-9 { flex: 0 0 @col-9th-9; max-width: @col-9th-9; }

.xs-offset-9th-1 { margin-left: @col-9th-1; }
.xs-offset-9th-2 { margin-left: @col-9th-2; }
.xs-offset-9th-3 { margin-left: @col-9th-3; }
.xs-offset-9th-4 { margin-left: @col-9th-4; }
.xs-offset-9th-5 { margin-left: @col-9th-5; }
.xs-offset-9th-6 { margin-left: @col-9th-6; }
.xs-offset-9th-7 { margin-left: @col-9th-7; }
.xs-offset-9th-8 { margin-left: @col-9th-8; }

@media (min-width: 576px) {
	.sm-9th-1 { flex: 0 0 @col-9th-1; max-width: @col-9th-1; }
	.sm-9th-2 { flex: 0 0 @col-9th-2; max-width: @col-9th-2; }
	.sm-9th-3 { flex: 0 0 @col-9th-3; max-width: @col-9th-3; }
	.sm-9th-4 { flex: 0 0 @col-9th-4; max-width: @col-9th-4; }
	.sm-9th-5 { flex: 0 0 @col-9th-5; max-width: @col-9th-5; }
	.sm-9th-6 { flex: 0 0 @col-9th-6; max-width: @col-9th-6; }
	.sm-9th-7 { flex: 0 0 @col-9th-7; max-width: @col-9th-7; }
	.sm-9th-8 { flex: 0 0 @col-9th-8; max-width: @col-9th-8; }
	.sm-9th-9 { flex: 0 0 @col-9th-9; max-width: @col-9th-9; }

	.sm-offset-9th-1 { margin-left: @col-9th-1; }
	.sm-offset-9th-2 { margin-left: @col-9th-2; }
	.sm-offset-9th-3 { margin-left: @col-9th-3; }
	.sm-offset-9th-4 { margin-left: @col-9th-4; }
	.sm-offset-9th-5 { margin-left: @col-9th-5; }
	.sm-offset-9th-6 { margin-left: @col-9th-6; }
	.sm-offset-9th-7 { margin-left: @col-9th-7; }
	.sm-offset-9th-8 { margin-left: @col-9th-8; }
}


@media (min-width: 768px) {
	.md-9th-1 { flex: 0 0 @col-9th-1; max-width: @col-9th-1; }
	.md-9th-2 { flex: 0 0 @col-9th-2; max-width: @col-9th-2; }
	.md-9th-3 { flex: 0 0 @col-9th-3; max-width: @col-9th-3; }
	.md-9th-4 { flex: 0 0 @col-9th-4; max-width: @col-9th-4; }
	.md-9th-5 { flex: 0 0 @col-9th-5; max-width: @col-9th-5; }
	.md-9th-6 { flex: 0 0 @col-9th-6; max-width: @col-9th-6; }
	.md-9th-7 { flex: 0 0 @col-9th-7; max-width: @col-9th-7; }
	.md-9th-8 { flex: 0 0 @col-9th-8; max-width: @col-9th-8; }
	.md-9th-9 { flex: 0 0 @col-9th-9; max-width: @col-9th-9; }

	.md-offset-9th-1 { margin-left: @col-9th-1; }
	.md-offset-9th-2 { margin-left: @col-9th-2; }
	.md-offset-9th-3 { margin-left: @col-9th-3; }
	.md-offset-9th-4 { margin-left: @col-9th-4; }
	.md-offset-9th-5 { margin-left: @col-9th-5; }
	.md-offset-9th-6 { margin-left: @col-9th-6; }
	.md-offset-9th-7 { margin-left: @col-9th-7; }
	.md-offset-9th-8 { margin-left: @col-9th-8; }
}

@media (min-width: 992px) {
	.lg-9th-1 { flex: 0 0 @col-9th-1; max-width: @col-9th-1; }
	.lg-9th-2 { flex: 0 0 @col-9th-2; max-width: @col-9th-2; }
	.lg-9th-3 { flex: 0 0 @col-9th-3; max-width: @col-9th-3; }
	.lg-9th-4 { flex: 0 0 @col-9th-4; max-width: @col-9th-4; }
	.lg-9th-5 { flex: 0 0 @col-9th-5; max-width: @col-9th-5; }
	.lg-9th-6 { flex: 0 0 @col-9th-6; max-width: @col-9th-6; }
	.lg-9th-7 { flex: 0 0 @col-9th-7; max-width: @col-9th-7; }
	.lg-9th-8 { flex: 0 0 @col-9th-8; max-width: @col-9th-8; }
	.lg-9th-9 { flex: 0 0 @col-9th-9; max-width: @col-9th-9; }

	.lg-offset-9th-1 { margin-left: @col-9th-1; }
	.lg-offset-9th-2 { margin-left: @col-9th-2; }
	.lg-offset-9th-3 { margin-left: @col-9th-3; }
	.lg-offset-9th-4 { margin-left: @col-9th-4; }
	.lg-offset-9th-5 { margin-left: @col-9th-5; }
	.lg-offset-9th-6 { margin-left: @col-9th-6; }
	.lg-offset-9th-7 { margin-left: @col-9th-7; }
	.lg-offset-9th-8 { margin-left: @col-9th-8; }
}

@media (min-width: 1200px) {
	.xl-9th-1 { flex: 0 0 @col-9th-1; max-width: @col-9th-1; }
	.xl-9th-2 { flex: 0 0 @col-9th-2; max-width: @col-9th-2; }
	.xl-9th-3 { flex: 0 0 @col-9th-3; max-width: @col-9th-3; }
	.xl-9th-4 { flex: 0 0 @col-9th-4; max-width: @col-9th-4; }
	.xl-9th-5 { flex: 0 0 @col-9th-5; max-width: @col-9th-5; }
	.xl-9th-6 { flex: 0 0 @col-9th-6; max-width: @col-9th-6; }
	.xl-9th-7 { flex: 0 0 @col-9th-7; max-width: @col-9th-7; }
	.xl-9th-8 { flex: 0 0 @col-9th-8; max-width: @col-9th-8; }
	.xl-9th-9 { flex: 0 0 @col-9th-9; max-width: @col-9th-9; }

	.xl-offset-9th-1 { margin-left: @col-9th-1; }
	.xl-offset-9th-2 { margin-left: @col-9th-2; }
	.xl-offset-9th-3 { margin-left: @col-9th-3; }
	.xl-offset-9th-4 { margin-left: @col-9th-4; }
	.xl-offset-9th-5 { margin-left: @col-9th-5; }
	.xl-offset-9th-6 { margin-left: @col-9th-6; }
	.xl-offset-9th-7 { margin-left: @col-9th-7; }
	.xl-offset-9th-8 { margin-left: @col-9th-8; }
}

@media (min-width: 1400px) {
	.xxl-9th-1 { flex: 0 0 @col-9th-1; max-width: @col-9th-1; }
	.xxl-9th-2 { flex: 0 0 @col-9th-2; max-width: @col-9th-2; }
	.xxl-9th-3 { flex: 0 0 @col-9th-3; max-width: @col-9th-3; }
	.xxl-9th-4 { flex: 0 0 @col-9th-4; max-width: @col-9th-4; }
	.xxl-9th-5 { flex: 0 0 @col-9th-5; max-width: @col-9th-5; }
	.xxl-9th-6 { flex: 0 0 @col-9th-6; max-width: @col-9th-6; }
	.xxl-9th-7 { flex: 0 0 @col-9th-7; max-width: @col-9th-7; }
	.xxl-9th-8 { flex: 0 0 @col-9th-8; max-width: @col-9th-8; }
	.xxl-9th-9 { flex: 0 0 @col-9th-9; max-width: @col-9th-9; }

	.xxl-offset-9th-1 { margin-left: @col-9th-1; }
	.xxl-offset-9th-2 { margin-left: @col-9th-2; }
	.xxl-offset-9th-3 { margin-left: @col-9th-3; }
	.xxl-offset-9th-4 { margin-left: @col-9th-4; }
	.xxl-offset-9th-5 { margin-left: @col-9th-5; }
	.xxl-offset-9th-6 { margin-left: @col-9th-6; }
	.xxl-offset-9th-7 { margin-left: @col-9th-7; }
	.xxl-offset-9th-8 { margin-left: @col-9th-8; }
}