/* ===================================================== */
/*                 Grid system (7 column)                */
/* ===================================================== */
@col-7th-1: 14.285714%;
@col-7th-2: 28.571428%;
@col-7th-3: 42.857142%;
@col-7th-4: 57.142856%;
@col-7th-5: 71.42857%;
@col-7th-6: 85.714284%;
@col-7th-7: 100%;

.xs-7th-1 { flex: 0 0 @col-7th-1; max-width: @col-7th-1; }
.xs-7th-2 { flex: 0 0 @col-7th-2; max-width: @col-7th-2; }
.xs-7th-3 { flex: 0 0 @col-7th-3; max-width: @col-7th-3; }
.xs-7th-4 { flex: 0 0 @col-7th-4; max-width: @col-7th-4; }
.xs-7th-5 { flex: 0 0 @col-7th-5; max-width: @col-7th-5; }
.xs-7th-6 { flex: 0 0 @col-7th-6; max-width: @col-7th-6; }
.xs-7th-7 { flex: 0 0 @col-7th-7; max-width: @col-7th-7; }

.xs-offset-7th-1 { margin-left: @col-7th-1; }
.xs-offset-7th-2 { margin-left: @col-7th-2; }
.xs-offset-7th-3 { margin-left: @col-7th-3; }
.xs-offset-7th-4 { margin-left: @col-7th-4; }
.xs-offset-7th-5 { margin-left: @col-7th-5; }
.xs-offset-7th-6 { margin-left: @col-7th-6; }

@media (min-width: 576px) {
	.sm-7th-1 { flex: 0 0 @col-7th-1; max-width: @col-7th-1; }
	.sm-7th-2 { flex: 0 0 @col-7th-2; max-width: @col-7th-2; }
	.sm-7th-3 { flex: 0 0 @col-7th-3; max-width: @col-7th-3; }
	.sm-7th-4 { flex: 0 0 @col-7th-4; max-width: @col-7th-4; }
	.sm-7th-5 { flex: 0 0 @col-7th-5; max-width: @col-7th-5; }
	.sm-7th-6 { flex: 0 0 @col-7th-6; max-width: @col-7th-6; }
	.sm-7th-7 { flex: 0 0 @col-7th-7; max-width: @col-7th-7; }

	.sm-offset-7th-1 { margin-left: @col-7th-1; }
	.sm-offset-7th-2 { margin-left: @col-7th-2; }
	.sm-offset-7th-3 { margin-left: @col-7th-3; }
	.sm-offset-7th-4 { margin-left: @col-7th-4; }
	.sm-offset-7th-5 { margin-left: @col-7th-5; }
	.sm-offset-7th-6 { margin-left: @col-7th-6; }
}


@media (min-width: 768px) {
	.md-7th-1 { flex: 0 0 @col-7th-1; max-width: @col-7th-1; }
	.md-7th-2 { flex: 0 0 @col-7th-2; max-width: @col-7th-2; }
	.md-7th-3 { flex: 0 0 @col-7th-3; max-width: @col-7th-3; }
	.md-7th-4 { flex: 0 0 @col-7th-4; max-width: @col-7th-4; }
	.md-7th-5 { flex: 0 0 @col-7th-5; max-width: @col-7th-5; }
	.md-7th-6 { flex: 0 0 @col-7th-6; max-width: @col-7th-6; }
	.md-7th-7 { flex: 0 0 @col-7th-7; max-width: @col-7th-7; }

	.md-offset-7th-1 { margin-left: @col-7th-1; }
	.md-offset-7th-2 { margin-left: @col-7th-2; }
	.md-offset-7th-3 { margin-left: @col-7th-3; }
	.md-offset-7th-4 { margin-left: @col-7th-4; }
	.md-offset-7th-5 { margin-left: @col-7th-5; }
	.md-offset-7th-6 { margin-left: @col-7th-6; }
}

@media (min-width: 992px) {
	.lg-7th-1 { flex: 0 0 @col-7th-1; max-width: @col-7th-1; }
	.lg-7th-2 { flex: 0 0 @col-7th-2; max-width: @col-7th-2; }
	.lg-7th-3 { flex: 0 0 @col-7th-3; max-width: @col-7th-3; }
	.lg-7th-4 { flex: 0 0 @col-7th-4; max-width: @col-7th-4; }
	.lg-7th-5 { flex: 0 0 @col-7th-5; max-width: @col-7th-5; }
	.lg-7th-6 { flex: 0 0 @col-7th-6; max-width: @col-7th-6; }
	.lg-7th-7 { flex: 0 0 @col-7th-7; max-width: @col-7th-7; }

	.lg-offset-7th-1 { margin-left: @col-7th-1; }
	.lg-offset-7th-2 { margin-left: @col-7th-2; }
	.lg-offset-7th-3 { margin-left: @col-7th-3; }
	.lg-offset-7th-4 { margin-left: @col-7th-4; }
	.lg-offset-7th-5 { margin-left: @col-7th-5; }
	.lg-offset-7th-6 { margin-left: @col-7th-6; }
}

@media (min-width: 1200px) {
	.xl-7th-1 { flex: 0 0 @col-7th-1; max-width: @col-7th-1; }
	.xl-7th-2 { flex: 0 0 @col-7th-2; max-width: @col-7th-2; }
	.xl-7th-3 { flex: 0 0 @col-7th-3; max-width: @col-7th-3; }
	.xl-7th-4 { flex: 0 0 @col-7th-4; max-width: @col-7th-4; }
	.xl-7th-5 { flex: 0 0 @col-7th-5; max-width: @col-7th-5; }
	.xl-7th-6 { flex: 0 0 @col-7th-6; max-width: @col-7th-6; }
	.xl-7th-7 { flex: 0 0 @col-7th-7; max-width: @col-7th-7; }

	.xl-offset-7th-1 { margin-left: @col-7th-1; }
	.xl-offset-7th-2 { margin-left: @col-7th-2; }
	.xl-offset-7th-3 { margin-left: @col-7th-3; }
	.xl-offset-7th-4 { margin-left: @col-7th-4; }
	.xl-offset-7th-5 { margin-left: @col-7th-5; }
	.xl-offset-7th-6 { margin-left: @col-7th-6; }
}


@media (min-width: 1400px) {
	.xxl-7th-1 { flex: 0 0 @col-7th-1; max-width: @col-7th-1; }
	.xxl-7th-2 { flex: 0 0 @col-7th-2; max-width: @col-7th-2; }
	.xxl-7th-3 { flex: 0 0 @col-7th-3; max-width: @col-7th-3; }
	.xxl-7th-4 { flex: 0 0 @col-7th-4; max-width: @col-7th-4; }
	.xxl-7th-5 { flex: 0 0 @col-7th-5; max-width: @col-7th-5; }
	.xxl-7th-6 { flex: 0 0 @col-7th-6; max-width: @col-7th-6; }
	.xxl-7th-7 { flex: 0 0 @col-7th-7; max-width: @col-7th-7; }

	.xxl-offset-7th-1 { margin-left: @col-7th-1; }
	.xxl-offset-7th-2 { margin-left: @col-7th-2; }
	.xxl-offset-7th-3 { margin-left: @col-7th-3; }
	.xxl-offset-7th-4 { margin-left: @col-7th-4; }
	.xxl-offset-7th-5 { margin-left: @col-7th-5; }
	.xxl-offset-7th-6 { margin-left: @col-7th-6; }
}