/* ===================================================== */
/*                 Grid system (24 column)               */
/* ===================================================== */
@col-1: 4.166667%;
@col-2: 8.333333%;
@col-3: 12.5%;
@col-4: 16.666667%;
@col-5: 20.833333%;
@col-6: 25%;
@col-7: 29.166667%;
@col-8: 33.333333%;
@col-9: 37.5%;
@col-10: 41.666667%;
@col-11: 45.833333%;
@col-12: 50%;
@col-13: 54.166667%;
@col-14: 58.333333%;
@col-15: 62.5%;
@col-16: 66.666667%;
@col-17: 70.833333%;
@col-18: 75%;
@col-19: 79.166667%;
@col-20: 83.333333%;
@col-21: 87.5%;
@col-22: 91.666667%;
@col-23: 95.833333%;
@col-24: 100%; 

.xs-1 {	flex: 0 0 @col-1; max-width: @col-1; }
.xs-2 { flex: 0 0 @col-2; max-width: @col-2; }
.xs-3 { flex: 0 0 @col-3; max-width: @col-3; }
.xs-4 { flex: 0 0 @col-4; max-width: @col-4; }
.xs-5 { flex: 0 0 @col-5; max-width: @col-5; }
.xs-6 { flex: 0 0 @col-6; max-width: @col-6; }
.xs-7 { flex: 0 0 @col-7; max-width: @col-7; }
.xs-8 { flex: 0 0 @col-8; max-width: @col-8; }
.xs-9 { flex: 0 0 @col-9; max-width: @col-9; }
.xs-10 { flex: 0 0 @col-10; max-width: @col-10; }
.xs-11 { flex: 0 0 @col-11; max-width: @col-11; }
.xs-12 { flex: 0 0 @col-12; max-width: @col-12; }
.xs-13 { flex: 0 0 @col-13; max-width: @col-13; }
.xs-14 { flex: 0 0 @col-14; max-width: @col-14; }
.xs-15 { flex: 0 0 @col-15; max-width: @col-15; }
.xs-16 { flex: 0 0 @col-16; max-width: @col-16; }
.xs-17 { flex: 0 0 @col-17; max-width: @col-17; }
.xs-18 { flex: 0 0 @col-18; max-width: @col-18; }
.xs-19 { flex: 0 0 @col-19; max-width: @col-19; }
.xs-20 { flex: 0 0 @col-20; max-width: @col-20; }
.xs-21 { flex: 0 0 @col-21; max-width: @col-21; }
.xs-22 { flex: 0 0 @col-22; max-width: @col-22; }
.xs-23 { flex: 0 0 @col-23; max-width: @col-23; }
.xs-24 { flex: 0 0 @col-24; max-width: @col-24; }

.xs-offset-1 { margin-left: @col-1; }
.xs-offset-2 { margin-left: @col-2; }
.xs-offset-3 { margin-left: @col-3; }
.xs-offset-4 { margin-left: @col-4; }
.xs-offset-5 { margin-left: @col-5; }
.xs-offset-6 { margin-left: @col-6; }
.xs-offset-7 { margin-left: @col-7; }
.xs-offset-8 { margin-left: @col-8; }
.xs-offset-9 { margin-left: @col-9; }
.xs-offset-10 { margin-left: @col-10; }
.xs-offset-11 { margin-left: @col-11; }
.xs-offset-12 { margin-left: @col-12; }
.xs-offset-13 { margin-left: @col-13; }
.xs-offset-14 { margin-left: @col-14; }
.xs-offset-15 { margin-left: @col-15; }
.xs-offset-16 { margin-left: @col-16; }
.xs-offset-17 { margin-left: @col-17; }
.xs-offset-18 { margin-left: @col-18; }
.xs-offset-19 { margin-left: @col-19; }
.xs-offset-20 { margin-left: @col-20; }
.xs-offset-21 { margin-left: @col-21; }
.xs-offset-22 { margin-left: @col-22; }
.xs-offset-23 { margin-left: @col-23; }

@media (min-width: 576px) {
	.sm-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: @col-24;
	}
	.sm-1 { flex: 0 0 @col-1; max-width: @col-1; }
	.sm-2 { flex: 0 0 @col-2; max-width: @col-2; }
	.sm-3 { flex: 0 0 @col-3; max-width: @col-3; }
	.sm-4 { flex: 0 0 @col-4; max-width: @col-4; }
	.sm-5 { flex: 0 0 @col-5; max-width: @col-5; }
	.sm-6 { flex: 0 0 @col-6; max-width: @col-6; }
	.sm-7 { flex: 0 0 @col-7; max-width: @col-7; }
	.sm-8 { flex: 0 0 @col-8; max-width: @col-8; }
	.sm-9 { flex: 0 0 @col-9; max-width: @col-9; }
	.sm-10 { flex: 0 0 @col-10; max-width: @col-10; }
	.sm-11 { flex: 0 0 @col-11; max-width: @col-11; }
	.sm-12 { flex: 0 0 @col-12; max-width: @col-12; }
	.sm-13 { flex: 0 0 @col-13; max-width: @col-13; }
	.sm-14 { flex: 0 0 @col-14; max-width: @col-14; }
	.sm-15 { flex: 0 0 @col-15; max-width: @col-15; }
	.sm-16 { flex: 0 0 @col-16; max-width: @col-16; }
	.sm-17 { flex: 0 0 @col-17; max-width: @col-17; }
	.sm-18 { flex: 0 0 @col-18; max-width: @col-18; }
	.sm-19 { flex: 0 0 @col-19; max-width: @col-19; }
	.sm-20 { flex: 0 0 @col-20; max-width: @col-20; }
	.sm-21 { flex: 0 0 @col-21; max-width: @col-21; }
	.sm-22 { flex: 0 0 @col-22; max-width: @col-22; }
	.sm-23 { flex: 0 0 @col-23; max-width: @col-23; }
	.sm-24 { flex: 0 0 @col-24; max-width: @col-24; }

	.sm-offset-1 { margin-left: @col-1; }
	.sm-offset-2 { margin-left: @col-2; }
	.sm-offset-3 { margin-left: @col-3; }
	.sm-offset-4 { margin-left: @col-4; }
	.sm-offset-5 { margin-left: @col-5; }
	.sm-offset-6 { margin-left: @col-6; }
	.sm-offset-7 { margin-left: @col-7; }
	.sm-offset-8 { margin-left: @col-8; }
	.sm-offset-9 { margin-left: @col-9; }
	.sm-offset-10 { margin-left: @col-10; }
	.sm-offset-11 { margin-left: @col-11; }
	.sm-offset-12 { margin-left: @col-12; }
	.sm-offset-13 { margin-left: @col-13; }
	.sm-offset-14 { margin-left: @col-14; }
	.sm-offset-15 { margin-left: @col-15; }
	.sm-offset-16 { margin-left: @col-16; }
	.sm-offset-17 { margin-left: @col-17; }
	.sm-offset-18 { margin-left: @col-18; }
	.sm-offset-19 { margin-left: @col-19; }
	.sm-offset-20 { margin-left: @col-20; }
	.sm-offset-21 { margin-left: @col-21; }
	.sm-offset-22 { margin-left: @col-22; }
	.sm-offset-23 { margin-left: @col-23; }
}


@media (min-width: 768px) {
	.md-1 { flex: 0 0 @col-1; max-width: @col-1; }
	.md-2 {	flex: 0 0 @col-2; max-width: @col-2; }
	.md-3 { flex: 0 0 @col-3; max-width: @col-3; }
	.md-4 { flex: 0 0 @col-4; max-width: @col-4; }
	.md-5 { flex: 0 0 @col-5; max-width: @col-5; }
	.md-6 { flex: 0 0 @col-6; max-width: @col-6; }
	.md-7 { flex: 0 0 @col-7; max-width: @col-7; }
	.md-8 { flex: 0 0 @col-8; max-width: @col-8; }
	.md-9 { flex: 0 0 @col-9; max-width: @col-9; }
	.md-10{ flex: 0 0 @col-10; max-width: @col-10; }
	.md-11{ flex: 0 0 @col-11; max-width: @col-11; }
	.md-12{ flex: 0 0 @col-12; max-width: @col-12; }
	.md-13{ flex: 0 0 @col-13; max-width: @col-13; }
	.md-14{ flex: 0 0 @col-14; max-width: @col-14; }
	.md-15{ flex: 0 0 @col-15; max-width: @col-15; }
	.md-16{ flex: 0 0 @col-16; max-width: @col-16; }
	.md-17{ flex: 0 0 @col-17; max-width: @col-17; }
	.md-18{ flex: 0 0 @col-18; max-width: @col-18; }
	.md-19{ flex: 0 0 @col-19; max-width: @col-19; }
	.md-20{ flex: 0 0 @col-20; max-width: @col-20; }
	.md-21{ flex: 0 0 @col-21; max-width: @col-21; }
	.md-22{ flex: 0 0 @col-22; max-width: @col-22; }
	.md-23{ flex: 0 0 @col-23; max-width: @col-23; }
	.md-24{ flex: 0 0 @col-24; max-width: @col-24; }

	.md-offset-1 { margin-left: @col-1; }
	.md-offset-2 { margin-left: @col-2; }
	.md-offset-3 { margin-left: @col-3; }
	.md-offset-4 { margin-left: @col-4; }
	.md-offset-5 { margin-left: @col-5; }
	.md-offset-6 { margin-left: @col-6; }
	.md-offset-7 { margin-left: @col-7; }
	.md-offset-8 { margin-left: @col-8; }
	.md-offset-9 { margin-left: @col-9; }
	.md-offset-10 { margin-left: @col-10; }
	.md-offset-11 { margin-left: @col-11; }
	.md-offset-12 { margin-left: @col-12; }
	.md-offset-13 { margin-left: @col-13; }
	.md-offset-14 { margin-left: @col-14; }
	.md-offset-15 { margin-left: @col-15; }
	.md-offset-16 { margin-left: @col-16; }
	.md-offset-17 { margin-left: @col-17; }
	.md-offset-18 { margin-left: @col-18; }
	.md-offset-19 { margin-left: @col-19; }
	.md-offset-20 { margin-left: @col-20; }
	.md-offset-21 { margin-left: @col-21; }
	.md-offset-22 { margin-left: @col-22; }
	.md-offset-23 { margin-left: @col-23; }
}

@media (min-width: 992px) {
	.lg-1 { flex: 0 0 @col-1; max-width: @col-1; }
	.lg-2 { flex: 0 0 @col-2; max-width: @col-2; }
	.lg-3 { flex: 0 0 @col-3; max-width: @col-3; }
	.lg-4 { flex: 0 0 @col-4; max-width: @col-4; }
	.lg-5 { flex: 0 0 @col-5; max-width: @col-5; }
	.lg-6 { flex: 0 0 @col-6; max-width: @col-6; }
	.lg-7 { flex: 0 0 @col-7; max-width: @col-7; }
	.lg-8 { flex: 0 0 @col-8; max-width: @col-8; }
	.lg-9 { flex: 0 0 @col-9; max-width: @col-9; }
	.lg-10 { flex: 0 0 @col-10; max-width: @col-10; }
	.lg-11 { flex: 0 0 @col-11; max-width: @col-11; }
	.lg-12 { flex: 0 0 @col-12; max-width: @col-12; }
	.lg-13 { flex: 0 0 @col-13; max-width: @col-13; }
	.lg-14 { flex: 0 0 @col-14; max-width: @col-14; }
	.lg-15 { flex: 0 0 @col-15; max-width: @col-15; }
	.lg-16 { flex: 0 0 @col-16; max-width: @col-16; }
	.lg-17 { flex: 0 0 @col-17; max-width: @col-17; }
	.lg-18 { flex: 0 0 @col-18; max-width: @col-18; } 
	.lg-19 { flex: 0 0 @col-19; max-width: @col-19; }
	.lg-20 { flex: 0 0 @col-20; max-width: @col-20; }
	.lg-21 { flex: 0 0 @col-21; max-width: @col-21; }
	.lg-22 { flex: 0 0 @col-22; max-width: @col-22; }
	.lg-23 { flex: 0 0 @col-23; max-width: @col-23; }
	.lg-24 { flex: 0 0 @col-24; max-width: @col-24; }

	.lg-offset-1 { margin-left: @col-1; }
	.lg-offset-2 { margin-left: @col-2; }
	.lg-offset-3 { margin-left: @col-3; }
	.lg-offset-4 { margin-left: @col-4; }
	.lg-offset-5 { margin-left: @col-5; }
	.lg-offset-6 { margin-left: @col-6; }
	.lg-offset-7 { margin-left: @col-7; }
	.lg-offset-8 { margin-left: @col-8; }
	.lg-offset-9 { margin-left: @col-9; }
	.lg-offset-10 { margin-left: @col-10; }
	.lg-offset-11 { margin-left: @col-11; }
	.lg-offset-12 { margin-left: @col-12; }
	.lg-offset-13 { margin-left: @col-13; }
	.lg-offset-14 { margin-left: @col-14; }
	.lg-offset-15 { margin-left: @col-15; }
	.lg-offset-16 { margin-left: @col-16; }
	.lg-offset-17 { margin-left: @col-17; }
	.lg-offset-18 { margin-left: @col-18; }
	.lg-offset-19 { margin-left: @col-19; }
	.lg-offset-20 { margin-left: @col-20; }
	.lg-offset-21 { margin-left: @col-21; }
	.lg-offset-22 { margin-left: @col-22; }
	.lg-offset-23 { margin-left: @col-23; }
}

@media (min-width: 1200px) {
	.xl-1 { flex: 0 0 @col-1; max-width: @col-1; }
	.xl-2 { flex: 0 0 @col-2; max-width: @col-2; }
	.xl-3 { flex: 0 0 @col-3; max-width: @col-3; }
	.xl-4 { flex: 0 0 @col-4; max-width: @col-4; }
	.xl-5 { flex: 0 0 @col-5; max-width: @col-5; }
	.xl-6 { flex: 0 0 @col-6; max-width: @col-6; }
	.xl-7 { flex: 0 0 @col-7; max-width: @col-7; }
	.xl-8 { flex: 0 0 @col-8; max-width: @col-8; }
	.xl-9 { flex: 0 0 @col-9; max-width: @col-9; }
	.xl-10 { flex: 0 0 @col-10; max-width: @col-10; }
	.xl-11 { flex: 0 0 @col-11; max-width: @col-11; }
	.xl-12 { flex: 0 0 @col-12; max-width: @col-12; }
	.xl-13 { flex: 0 0 @col-13; max-width: @col-13; }
	.xl-14 { flex: 0 0 @col-14; max-width: @col-24; }
	.xl-15 { flex: 0 0 @col-15; max-width: @col-15; }
	.xl-16 { flex: 0 0 @col-16; max-width: @col-16; }
	.xl-17 { flex: 0 0 @col-17; max-width: @col-17; }
	.xl-18 { flex: 0 0 @col-18; max-width: @col-18; }
	.xl-19 { flex: 0 0 @col-19; max-width: @col-19; }
	.xl-20 { flex: 0 0 @col-20; max-width: @col-20; }
	.xl-21 { flex: 0 0 @col-21; max-width: @col-21; }
	.xl-22 { flex: 0 0 @col-22; max-width: @col-22; }
	.xl-23 { flex: 0 0 @col-23; max-width: @col-23; }
	.xl-24 { flex: 0 0 @col-24; max-width: @col-24; }

	.xl-offset-1 { margin-left: @col-1; }
	.xl-offset-2 { margin-left: @col-2; }
	.xl-offset-3 { margin-left: @col-3; }
	.xl-offset-4 { margin-left: @col-4; }
	.xl-offset-5 { margin-left: @col-5; }
	.xl-offset-6 { margin-left: @col-6; }
	.xl-offset-7 { margin-left: @col-7; }
	.xl-offset-8 { margin-left: @col-8; }
	.xl-offset-9 { margin-left: @col-9; }
	.xl-offset-10 { margin-left: @col-10; }
	.xl-offset-11 { margin-left: @col-11; }
	.xl-offset-12 { margin-left: @col-12; }
	.xl-offset-13 { margin-left: @col-13; }
	.xl-offset-14 { margin-left: @col-14; }
	.xl-offset-15 { margin-left: @col-15; }
	.xl-offset-16 { margin-left: @col-16; }
	.xl-offset-17 { margin-left: @col-17; }
	.xl-offset-18 { margin-left: @col-18; }
	.xl-offset-19 { margin-left: @col-19; }
	.xl-offset-20 { margin-left: @col-20; }
	.xl-offset-21 { margin-left: @col-21; }
	.xl-offset-22 { margin-left: @col-22; }
	.xl-offset-23 { margin-left: @col-23; }
}

@media (min-width: 1400px) {
	.xxl-1 { flex: 0 0 @col-1; max-width: @col-1; }
	.xxl-2 { flex: 0 0 @col-2; max-width: @col-2; }
	.xxl-3 { flex: 0 0 @col-3; max-width: @col-3; }
	.xxl-4 { flex: 0 0 @col-4; max-width: @col-4; }
	.xxl-5 { flex: 0 0 @col-5; max-width: @col-5; }
	.xxl-6 { flex: 0 0 @col-6; max-width: @col-6; }
	.xxl-7 { flex: 0 0 @col-7; max-width: @col-7; }
	.xxl-8 { flex: 0 0 @col-8; max-width: @col-8; }
	.xxl-9 { flex: 0 0 @col-9; max-width: @col-9; }
	.xxl-10 { flex: 0 0 @col-10; max-width: @col-10; }
	.xxl-11 { flex: 0 0 @col-11; max-width: @col-11; }
	.xxl-12 { flex: 0 0 @col-12; max-width: @col-12; }
	.xxl-13 { flex: 0 0 @col-13; max-width: @col-13; }
	.xxl-14 { flex: 0 0 @col-14; max-width: @col-14; }
	.xxl-15 { flex: 0 0 @col-15; max-width: @col-15; }
	.xxl-16 { flex: 0 0 @col-16; max-width: @col-16; }
	.xxl-17 { flex: 0 0 @col-17; max-width: @col-17; }
	.xxl-18 { flex: 0 0 @col-18; max-width: @col-18; }
	.xxl-19 { flex: 0 0 @col-19; max-width: @col-19; }
	.xxl-20 { flex: 0 0 @col-20; max-width: @col-20; }
	.xxl-21 { flex: 0 0 @col-21; max-width: @col-21; }
	.xxl-22 { flex: 0 0 @col-22; max-width: @col-22; }
	.xxl-23 { flex: 0 0 @col-23; max-width: @col-23; }
	.xxl-24 { flex: 0 0 @col-24; max-width: @col-24; }

	.xxl-offset-1 { margin-left: @col-1; }
	.xxl-offset-2 { margin-left: @col-2; }
	.xxl-offset-3 { margin-left: @col-3; }
	.xxl-offset-4 { margin-left: @col-4; }
	.xxl-offset-5 { margin-left: @col-5; }
	.xxl-offset-6 { margin-left: @col-6; }
	.xxl-offset-7 { margin-left: @col-7; }
	.xxl-offset-8 { margin-left: @col-8; }
	.xxl-offset-9 { margin-left: @col-9; }
	.xxl-offset-10 { margin-left: @col-10; }
	.xxl-offset-11 { margin-left: @col-11; }
	.xxl-offset-12 { margin-left: @col-12; }
	.xxl-offset-13 { margin-left: @col-13; }
	.xxl-offset-14 { margin-left: @col-14; }
	.xxl-offset-15 { margin-left: @col-15; }
	.xxl-offset-16 { margin-left: @col-16; }
	.xxl-offset-17 { margin-left: @col-17; }
	.xxl-offset-18 { margin-left: @col-18; }
	.xxl-offset-19 { margin-left: @col-19; }
	.xxl-offset-20 { margin-left: @col-20; }
	.xxl-offset-21 { margin-left: @col-21; }
	.xxl-offset-22 { margin-left: @col-22; }
	.xxl-offset-23 { margin-left: @col-23; }
}