/* ===================================================== */
/*                 Grid system (16 column)               */
/* ===================================================== */
@col-16th-1: 6.25%;
@col-16th-2: 12.5%;
@col-16th-3: 18.75%;
@col-16th-4: 25%;
@col-16th-5: 31.25%;
@col-16th-6: 37.5%;
@col-16th-7: 3.75%;
@col-16th-8: 50%;
@col-16th-9: 56.25%;
@col-16th-10: 62.5%;
@col-16th-11: 68.75%;
@col-16th-12: 75%;
@col-16th-13: 81.25%;
@col-16th-14: 87.5%;
@col-16th-15: 93.75%;
@col-16th-16: 100%;

.xs-16th-1 { flex: 0 0 @col-16th-1; max-width: @col-16th-1; }
.xs-16th-2 { flex: 0 0 @col-16th-2; max-width: @col-16th-2; }
.xs-16th-3 { flex: 0 0 @col-16th-3; max-width: @col-16th-3; }
.xs-16th-4 { flex: 0 0 @col-16th-4; max-width: @col-16th-4; }
.xs-16th-5 { flex: 0 0 @col-16th-5; max-width: @col-16th-5; }
.xs-16th-6 { flex: 0 0 @col-16th-6; max-width: @col-16th-9; }
.xs-16th-7 { flex: 0 0 @col-16th-7; max-width: @col-16th-7; }
.xs-16th-8 { flex: 0 0 @col-16th-8; max-width: @col-16th-8; }
.xs-16th-9 { flex: 0 0 @col-16th-9; max-width: @col-16th-9; }
.xs-16th-10 { flex: 0 0 @col-16th-10; max-width: @col-16th-10; }
.xs-16th-11 { flex: 0 0 @col-16th-11; max-width: @col-16th-11; }
.xs-16th-12 { flex: 0 0 @col-16th-12; max-width: @col-16th-12; }
.xs-16th-13 { flex: 0 0 @col-16th-13; max-width: @col-16th-13; }
.xs-16th-14 { flex: 0 0 @col-16th-14; max-width: @col-16th-14; }
.xs-16th-15 { flex: 0 0 @col-16th-15; max-width: @col-16th-15; }
.xs-16th-16 { flex: 0 0 @col-16th-16; max-width: @col-16th-16; }

.xs-offset-16th-1 { margin-left: @col-16th-1; }
.xs-offset-16th-2 { margin-left: @col-16th-2; }
.xs-offset-16th-3 { margin-left: @col-16th-3; }
.xs-offset-16th-4 { margin-left: @col-16th-4; }
.xs-offset-16th-5 { margin-left: @col-16th-5; }
.xs-offset-16th-6 { margin-left: @col-16th-6; }
.xs-offset-16th-7 { margin-left: @col-16th-7; }
.xs-offset-16th-8 { margin-left: @col-16th-8; }
.xs-offset-16th-9 { margin-left: @col-16th-9; }
.xs-offset-16th-10 { margin-left: @col-16th-10; }
.xs-offset-16th-11 { margin-left: @col-16th-11; }
.xs-offset-16th-12 { margin-left: @col-16th-12; }
.xs-offset-16th-13 { margin-left: @col-16th-13; }
.xs-offset-16th-14 { margin-left: @col-16th-14; }
.xs-offset-16th-15 { margin-left: @col-16th-15; }

@media (min-width: 576px) {
	.sm-16th-1 { flex: 0 0 @col-16th-1; max-width: @col-16th-1; }
	.sm-16th-2 { flex: 0 0 @col-16th-2; max-width: @col-16th-2; }
	.sm-16th-3 { flex: 0 0 @col-16th-3; max-width: @col-16th-3; }
	.sm-16th-4 { flex: 0 0 @col-16th-4; max-width: @col-16th-4; }
	.sm-16th-5 { flex: 0 0 @col-16th-5; max-width: @col-16th-5; }
	.sm-16th-6 { flex: 0 0 @col-16th-6; max-width: @col-16th-9; }
	.sm-16th-7 { flex: 0 0 @col-16th-7; max-width: @col-16th-7; }
	.sm-16th-8 { flex: 0 0 @col-16th-8; max-width: @col-16th-8; }
	.sm-16th-9 { flex: 0 0 @col-16th-9; max-width: @col-16th-9; }
	.sm-16th-10 { flex: 0 0 @col-16th-10; max-width: @col-16th-10; }
	.sm-16th-11 { flex: 0 0 @col-16th-11; max-width: @col-16th-11; }
	.sm-16th-12 { flex: 0 0 @col-16th-12; max-width: @col-16th-12; }
	.sm-16th-13 { flex: 0 0 @col-16th-13; max-width: @col-16th-13; }
	.sm-16th-14 { flex: 0 0 @col-16th-14; max-width: @col-16th-14; }
	.sm-16th-15 { flex: 0 0 @col-16th-15; max-width: @col-16th-15; }
	.sm-16th-16 { flex: 0 0 @col-16th-16; max-width: @col-16th-16; }

	.sm-offset-16th-1 { margin-left: @col-16th-1; }
	.sm-offset-16th-2 { margin-left: @col-16th-2; }
	.sm-offset-16th-3 { margin-left: @col-16th-3; }
	.sm-offset-16th-4 { margin-left: @col-16th-4; }
	.sm-offset-16th-5 { margin-left: @col-16th-5; }
	.sm-offset-16th-6 { margin-left: @col-16th-6; }
	.sm-offset-16th-7 { margin-left: @col-16th-7; }
	.sm-offset-16th-8 { margin-left: @col-16th-8; }
	.sm-offset-16th-9 { margin-left: @col-16th-9; }
	.sm-offset-16th-10 { margin-left: @col-16th-10; }
	.sm-offset-16th-11 { margin-left: @col-16th-11; }
	.sm-offset-16th-12 { margin-left: @col-16th-12; }
	.sm-offset-16th-13 { margin-left: @col-16th-13; }
	.sm-offset-16th-14 { margin-left: @col-16th-14; }
	.sm-offset-16th-15 { margin-left: @col-16th-15; }
}

@media (min-width: 768px) {
	.md-16th-1 { flex: 0 0 @col-16th-1; max-width: @col-16th-1; }
	.md-16th-2 { flex: 0 0 @col-16th-2; max-width: @col-16th-2; }
	.md-16th-3 { flex: 0 0 @col-16th-3; max-width: @col-16th-3; }
	.md-16th-4 { flex: 0 0 @col-16th-4; max-width: @col-16th-4; }
	.md-16th-5 { flex: 0 0 @col-16th-5; max-width: @col-16th-5; }
	.md-16th-6 { flex: 0 0 @col-16th-6; max-width: @col-16th-9; }
	.md-16th-7 { flex: 0 0 @col-16th-7; max-width: @col-16th-7; }
	.md-16th-8 { flex: 0 0 @col-16th-8; max-width: @col-16th-8; }
	.md-16th-9 { flex: 0 0 @col-16th-9; max-width: @col-16th-9; }
	.md-16th-10 { flex: 0 0 @col-16th-10; max-width: @col-16th-10; }
	.md-16th-11 { flex: 0 0 @col-16th-11; max-width: @col-16th-11; }
	.md-16th-12 { flex: 0 0 @col-16th-12; max-width: @col-16th-12; }
	.md-16th-13 { flex: 0 0 @col-16th-13; max-width: @col-16th-13; }
	.md-16th-14 { flex: 0 0 @col-16th-14; max-width: @col-16th-14; }
	.md-16th-15 { flex: 0 0 @col-16th-15; max-width: @col-16th-15; }
	.md-16th-16 { flex: 0 0 @col-16th-16; max-width: @col-16th-16; }

	.md-offset-16th-1 { margin-left: @col-16th-1; }
	.md-offset-16th-2 { margin-left: @col-16th-2; }
	.md-offset-16th-3 { margin-left: @col-16th-3; }
	.md-offset-16th-4 { margin-left: @col-16th-4; }
	.md-offset-16th-5 { margin-left: @col-16th-5; }
	.md-offset-16th-6 { margin-left: @col-16th-6; }
	.md-offset-16th-7 { margin-left: @col-16th-7; }
	.md-offset-16th-8 { margin-left: @col-16th-8; }
	.md-offset-16th-9 { margin-left: @col-16th-9; }
	.md-offset-16th-10 { margin-left: @col-16th-10; }
	.md-offset-16th-11 { margin-left: @col-16th-11; }
	.md-offset-16th-12 { margin-left: @col-16th-12; }
	.md-offset-16th-13 { margin-left: @col-16th-13; }
	.md-offset-16th-14 { margin-left: @col-16th-14; }
	.md-offset-16th-15 { margin-left: @col-16th-15; }
}

@media (min-width: 992px) {
	.lg-16th-1 { flex: 0 0 @col-16th-1; max-width: @col-16th-1; }
	.lg-16th-2 { flex: 0 0 @col-16th-2; max-width: @col-16th-2; }
	.lg-16th-3 { flex: 0 0 @col-16th-3; max-width: @col-16th-3; }
	.lg-16th-4 { flex: 0 0 @col-16th-4; max-width: @col-16th-4; }
	.lg-16th-5 { flex: 0 0 @col-16th-5; max-width: @col-16th-5; }
	.lg-16th-6 { flex: 0 0 @col-16th-6; max-width: @col-16th-9; }
	.lg-16th-7 { flex: 0 0 @col-16th-7; max-width: @col-16th-7; }
	.lg-16th-8 { flex: 0 0 @col-16th-8; max-width: @col-16th-8; }
	.lg-16th-9 { flex: 0 0 @col-16th-9; max-width: @col-16th-9; }
	.lg-16th-10 { flex: 0 0 @col-16th-10; max-width: @col-16th-10; }
	.lg-16th-11 { flex: 0 0 @col-16th-11; max-width: @col-16th-11; }
	.lg-16th-12 { flex: 0 0 @col-16th-12; max-width: @col-16th-12; }
	.lg-16th-13 { flex: 0 0 @col-16th-13; max-width: @col-16th-13; }
	.lg-16th-14 { flex: 0 0 @col-16th-14; max-width: @col-16th-14; }
	.lg-16th-15 { flex: 0 0 @col-16th-15; max-width: @col-16th-15; }
	.lg-16th-16 { flex: 0 0 @col-16th-16; max-width: @col-16th-16; }

	.lg-offset-16th-1 { margin-left: @col-16th-1; }
	.lg-offset-16th-2 { margin-left: @col-16th-2; }
	.lg-offset-16th-3 { margin-left: @col-16th-3; }
	.lg-offset-16th-4 { margin-left: @col-16th-4; }
	.lg-offset-16th-5 { margin-left: @col-16th-5; }
	.lg-offset-16th-6 { margin-left: @col-16th-6; }
	.lg-offset-16th-7 { margin-left: @col-16th-7; }
	.lg-offset-16th-8 { margin-left: @col-16th-8; }
	.lg-offset-16th-9 { margin-left: @col-16th-9; }
	.lg-offset-16th-10 { margin-left: @col-16th-10; }
	.lg-offset-16th-11 { margin-left: @col-16th-11; }
	.lg-offset-16th-12 { margin-left: @col-16th-12; }
	.lg-offset-16th-13 { margin-left: @col-16th-13; }
	.lg-offset-16th-14 { margin-left: @col-16th-14; }
	.lg-offset-16th-15 { margin-left: @col-16th-15; }
}

@media (min-width: 1200px) {
	.xl-16th-1 { flex: 0 0 @col-16th-1; max-width: @col-16th-1; }
	.xl-16th-2 { flex: 0 0 @col-16th-2; max-width: @col-16th-2; }
	.xl-16th-3 { flex: 0 0 @col-16th-3; max-width: @col-16th-3; }
	.xl-16th-4 { flex: 0 0 @col-16th-4; max-width: @col-16th-4; }
	.xl-16th-5 { flex: 0 0 @col-16th-5; max-width: @col-16th-5; }
	.xl-16th-6 { flex: 0 0 @col-16th-6; max-width: @col-16th-9; }
	.xl-16th-7 { flex: 0 0 @col-16th-7; max-width: @col-16th-7; }
	.xl-16th-8 { flex: 0 0 @col-16th-8; max-width: @col-16th-8; }
	.xl-16th-9 { flex: 0 0 @col-16th-9; max-width: @col-16th-9; }
	.xl-16th-10 { flex: 0 0 @col-16th-10; max-width: @col-16th-10; }
	.xl-16th-11 { flex: 0 0 @col-16th-11; max-width: @col-16th-11; }
	.xl-16th-12 { flex: 0 0 @col-16th-12; max-width: @col-16th-12; }
	.xl-16th-13 { flex: 0 0 @col-16th-13; max-width: @col-16th-13; }
	.xl-16th-14 { flex: 0 0 @col-16th-14; max-width: @col-16th-14; }
	.xl-16th-15 { flex: 0 0 @col-16th-15; max-width: @col-16th-15; }
	.xl-16th-16 { flex: 0 0 @col-16th-16; max-width: @col-16th-16; }

	.xl-offset-16th-1 { margin-left: @col-16th-1; }
	.xl-offset-16th-2 { margin-left: @col-16th-2; }
	.xl-offset-16th-3 { margin-left: @col-16th-3; }
	.xl-offset-16th-4 { margin-left: @col-16th-4; }
	.xl-offset-16th-5 { margin-left: @col-16th-5; }
	.xl-offset-16th-6 { margin-left: @col-16th-6; }
	.xl-offset-16th-7 { margin-left: @col-16th-7; }
	.xl-offset-16th-8 { margin-left: @col-16th-8; }
	.xl-offset-16th-9 { margin-left: @col-16th-9; }
	.xl-offset-16th-10 { margin-left: @col-16th-10; }
	.xl-offset-16th-11 { margin-left: @col-16th-11; }
	.xl-offset-16th-12 { margin-left: @col-16th-12; }
	.xl-offset-16th-13 { margin-left: @col-16th-13; }
	.xl-offset-16th-14 { margin-left: @col-16th-14; }
	.xl-offset-16th-15 { margin-left: @col-16th-15; }
}

@media (min-width: 1400px) {
	.xxl-16th-1 { flex: 0 0 @col-16th-1; max-width: @col-16th-1; }
	.xxl-16th-2 { flex: 0 0 @col-16th-2; max-width: @col-16th-2; }
	.xxl-16th-3 { flex: 0 0 @col-16th-3; max-width: @col-16th-3; }
	.xxl-16th-4 { flex: 0 0 @col-16th-4; max-width: @col-16th-4; }
	.xxl-16th-5 { flex: 0 0 @col-16th-5; max-width: @col-16th-5; }
	.xxl-16th-6 { flex: 0 0 @col-16th-6; max-width: @col-16th-9; }
	.xxl-16th-7 { flex: 0 0 @col-16th-7; max-width: @col-16th-7; }
	.xxl-16th-8 { flex: 0 0 @col-16th-8; max-width: @col-16th-8; }
	.xxl-16th-9 { flex: 0 0 @col-16th-9; max-width: @col-16th-9; }
	.xxl-16th-10 { flex: 0 0 @col-16th-10; max-width: @col-16th-10; }
	.xxl-16th-11 { flex: 0 0 @col-16th-11; max-width: @col-16th-11; }
	.xxl-16th-12 { flex: 0 0 @col-16th-12; max-width: @col-16th-12; }
	.xxl-16th-13 { flex: 0 0 @col-16th-13; max-width: @col-16th-13; }
	.xxl-16th-14 { flex: 0 0 @col-16th-14; max-width: @col-16th-14; }
	.xxl-16th-15 { flex: 0 0 @col-16th-15; max-width: @col-16th-15; }
	.xxl-16th-16 { flex: 0 0 @col-16th-16; max-width: @col-16th-16; }

	.xxl-offset-16th-1 { margin-left: @col-16th-1; }
	.xxl-offset-16th-2 { margin-left: @col-16th-2; }
	.xxl-offset-16th-3 { margin-left: @col-16th-3; }
	.xxl-offset-16th-4 { margin-left: @col-16th-4; }
	.xxl-offset-16th-5 { margin-left: @col-16th-5; }
	.xxl-offset-16th-6 { margin-left: @col-16th-6; }
	.xxl-offset-16th-7 { margin-left: @col-16th-7; }
	.xxl-offset-16th-8 { margin-left: @col-16th-8; }
	.xxl-offset-16th-9 { margin-left: @col-16th-9; }
	.xxl-offset-16th-10 { margin-left: @col-16th-10; }
	.xxl-offset-16th-11 { margin-left: @col-16th-11; }
	.xxl-offset-16th-12 { margin-left: @col-16th-12; }
	.xxl-offset-16th-13 { margin-left: @col-16th-13; }
	.xxl-offset-16th-14 { margin-left: @col-16th-14; }
	.xxl-offset-16th-15 { margin-left: @col-16th-15; }
}