/* ===================================================== */
/*                   Grid system (Base)                  */
/* ===================================================== */
.container {
	height: 100%;
	width: 100%;
	margin: 0 auto;

	@media @container-mobail { max-width: @container-mobail-area; }

  	@media @container-tablet { max-width: @container-tablet-area; }

  	@media @container-laptop { max-width: @container-laptop-area; }

  	@media @container-desktop { max-width: @container-desktop-area; }

  	@media @container-large-desktop { width: @container-large-desktop-area; }
}

.row {
	display: flex;
	height: 100%;
	min-width: 100%;
	flex-wrap: wrap;

	& > * {
		position: relative;
		margin: 0;
		padding: 0;
		width: @col-24;
	}
}