/* ===================================================== */
/*                 Grid system (10 column)               */
/* ===================================================== */
@col-10th-1: 10%;
@col-10th-2: 20%;
@col-10th-3: 30%;
@col-10th-4: 40%;
@col-10th-5: 50%;
@col-10th-6: 60%;
@col-10th-7: 70%;
@col-10th-8: 80%;
@col-10th-9: 90%;
@col-10th-10: 100%;

.xs-10th-1 { flex: 0 0 @col-10th-1; max-width: @col-10th-1; }
.xs-10th-2 { flex: 0 0 @col-10th-2; max-width: @col-10th-2; }
.xs-10th-3 { flex: 0 0 @col-10th-3; max-width: @col-10th-3; }
.xs-10th-4 { flex: 0 0 @col-10th-4; max-width: @col-10th-4; }
.xs-10th-5 { flex: 0 0 @col-10th-5; max-width: @col-10th-5; }
.xs-10th-6 { flex: 0 0 @col-10th-6; max-width: @col-10th-9; }
.xs-10th-7 { flex: 0 0 @col-10th-7; max-width: @col-10th-7; }
.xs-10th-8 { flex: 0 0 @col-10th-8; max-width: @col-10th-8; }
.xs-10th-9 { flex: 0 0 @col-10th-9; max-width: @col-10th-9; }
.xs-10th-10 { flex: 0 0 @col-10th-10; max-width: @col-10th-10; }

.xs-offset-10th-1 { margin-left: @col-10th-1; }
.xs-offset-10th-2 { margin-left: @col-10th-2; }
.xs-offset-10th-3 { margin-left: @col-10th-3; }
.xs-offset-10th-4 { margin-left: @col-10th-4; }
.xs-offset-10th-5 { margin-left: @col-10th-5; }
.xs-offset-10th-6 { margin-left: @col-10th-6; }
.xs-offset-10th-7 { margin-left: @col-10th-7; }
.xs-offset-10th-8 { margin-left: @col-10th-8; }
.xs-offset-10th-9 { margin-left: @col-10th-9; }

@media (min-width: 576px) {
	.sm-10th-1 { flex: 0 0 @col-10th-1; max-width: @col-10th-1; }
	.sm-10th-2 { flex: 0 0 @col-10th-2; max-width: @col-10th-2; }
	.sm-10th-3 { flex: 0 0 @col-10th-3; max-width: @col-10th-3; }
	.sm-10th-4 { flex: 0 0 @col-10th-4; max-width: @col-10th-4; }
	.sm-10th-5 { flex: 0 0 @col-10th-5; max-width: @col-10th-5; }
	.sm-10th-6 { flex: 0 0 @col-10th-6; max-width: @col-10th-9; }
	.sm-10th-7 { flex: 0 0 @col-10th-7; max-width: @col-10th-7; }
	.sm-10th-8 { flex: 0 0 @col-10th-8; max-width: @col-10th-8; }
	.sm-10th-9 { flex: 0 0 @col-10th-9; max-width: @col-10th-9; }
	.sm-10th-10 { flex: 0 0 @col-10th-10; max-width: @col-10th-10; }

	.sm-offset-10th-1 { margin-left: @col-10th-1; }
	.sm-offset-10th-2 { margin-left: @col-10th-2; }
	.sm-offset-10th-3 { margin-left: @col-10th-3; }
	.sm-offset-10th-4 { margin-left: @col-10th-4; }
	.sm-offset-10th-5 { margin-left: @col-10th-5; }
	.sm-offset-10th-6 { margin-left: @col-10th-6; }
	.sm-offset-10th-7 { margin-left: @col-10th-7; }
	.sm-offset-10th-8 { margin-left: @col-10th-8; }
	.sm-offset-10th-9 { margin-left: @col-10th-9; }
}


@media (min-width: 768px) {
	.md-10th-1 { flex: 0 0 @col-10th-1; max-width: @col-10th-1; }
	.md-10th-2 { flex: 0 0 @col-10th-2; max-width: @col-10th-2; }
	.md-10th-3 { flex: 0 0 @col-10th-3; max-width: @col-10th-3; }
	.md-10th-4 { flex: 0 0 @col-10th-4; max-width: @col-10th-4; }
	.md-10th-5 { flex: 0 0 @col-10th-5; max-width: @col-10th-5; }
	.md-10th-6 { flex: 0 0 @col-10th-6; max-width: @col-10th-9; }
	.md-10th-7 { flex: 0 0 @col-10th-7; max-width: @col-10th-7; }
	.md-10th-8 { flex: 0 0 @col-10th-8; max-width: @col-10th-8; }
	.md-10th-9 { flex: 0 0 @col-10th-9; max-width: @col-10th-9; }
	.md-10th-10 { flex: 0 0 @col-10th-10; max-width: @col-10th-10; }

	.md-offset-10th-1 { margin-left: @col-10th-1; }
	.md-offset-10th-2 { margin-left: @col-10th-2; }
	.md-offset-10th-3 { margin-left: @col-10th-3; }
	.md-offset-10th-4 { margin-left: @col-10th-4; }
	.md-offset-10th-5 { margin-left: @col-10th-5; }
	.md-offset-10th-6 { margin-left: @col-10th-6; }
	.md-offset-10th-7 { margin-left: @col-10th-7; }
	.md-offset-10th-8 { margin-left: @col-10th-8; }
	.md-offset-10th-9 { margin-left: @col-10th-9; }
}

@media (min-width: 992px) {
	.lg-10th-1 { flex: 0 0 @col-10th-1; max-width: @col-10th-1; }
	.lg-10th-2 { flex: 0 0 @col-10th-2; max-width: @col-10th-2; }
	.lg-10th-3 { flex: 0 0 @col-10th-3; max-width: @col-10th-3; }
	.lg-10th-4 { flex: 0 0 @col-10th-4; max-width: @col-10th-4; }
	.lg-10th-5 { flex: 0 0 @col-10th-5; max-width: @col-10th-5; }
	.lg-10th-6 { flex: 0 0 @col-10th-6; max-width: @col-10th-9; }
	.lg-10th-7 { flex: 0 0 @col-10th-7; max-width: @col-10th-7; }
	.lg-10th-8 { flex: 0 0 @col-10th-8; max-width: @col-10th-8; }
	.lg-10th-9 { flex: 0 0 @col-10th-9; max-width: @col-10th-9; }
	.lg-10th-10 { flex: 0 0 @col-10th-10; max-width: @col-10th-10; }

	.lg-offset-10th-1 { margin-left: @col-10th-1; }
	.lg-offset-10th-2 { margin-left: @col-10th-2; }
	.lg-offset-10th-3 { margin-left: @col-10th-3; }
	.lg-offset-10th-4 { margin-left: @col-10th-4; }
	.lg-offset-10th-5 { margin-left: @col-10th-5; }
	.lg-offset-10th-6 { margin-left: @col-10th-6; }
	.lg-offset-10th-7 { margin-left: @col-10th-7; }
	.lg-offset-10th-8 { margin-left: @col-10th-8; }
	.lg-offset-10th-9 { margin-left: @col-10th-9; }
}

@media (min-width: 1200px) {
	.xl-10th-1 { flex: 0 0 @col-10th-1; max-width: @col-10th-1; }
	.xl-10th-2 { flex: 0 0 @col-10th-2; max-width: @col-10th-2; }
	.xl-10th-3 { flex: 0 0 @col-10th-3; max-width: @col-10th-3; }
	.xl-10th-4 { flex: 0 0 @col-10th-4; max-width: @col-10th-4; }
	.xl-10th-5 { flex: 0 0 @col-10th-5; max-width: @col-10th-5; }
	.xl-10th-6 { flex: 0 0 @col-10th-6; max-width: @col-10th-9; }
	.xl-10th-7 { flex: 0 0 @col-10th-7; max-width: @col-10th-7; }
	.xl-10th-8 { flex: 0 0 @col-10th-8; max-width: @col-10th-8; }
	.xl-10th-9 { flex: 0 0 @col-10th-9; max-width: @col-10th-9; }
	.xl-10th-10 { flex: 0 0 @col-10th-10; max-width: @col-10th-10; }

	.xl-offset-10th-1 { margin-left: @col-10th-1; }
	.xl-offset-10th-2 { margin-left: @col-10th-2; }
	.xl-offset-10th-3 { margin-left: @col-10th-3; }
	.xl-offset-10th-4 { margin-left: @col-10th-4; }
	.xl-offset-10th-5 { margin-left: @col-10th-5; }
	.xl-offset-10th-6 { margin-left: @col-10th-6; }
	.xl-offset-10th-7 { margin-left: @col-10th-7; }
	.xl-offset-10th-8 { margin-left: @col-10th-8; }
	.xl-offset-10th-9 { margin-left: @col-10th-9; }
}


@media (min-width: 1400px) {
	.xxl-10th-1 { flex: 0 0 @col-10th-1; max-width: @col-10th-1; }
	.xxl-10th-2 { flex: 0 0 @col-10th-2; max-width: @col-10th-2; }
	.xxl-10th-3 { flex: 0 0 @col-10th-3; max-width: @col-10th-3; }
	.xxl-10th-4 { flex: 0 0 @col-10th-4; max-width: @col-10th-4; }
	.xxl-10th-5 { flex: 0 0 @col-10th-5; max-width: @col-10th-5; }
	.xxl-10th-6 { flex: 0 0 @col-10th-6; max-width: @col-10th-9; }
	.xxl-10th-7 { flex: 0 0 @col-10th-7; max-width: @col-10th-7; }
	.xxl-10th-8 { flex: 0 0 @col-10th-8; max-width: @col-10th-8; }
	.xxl-10th-9 { flex: 0 0 @col-10th-9; max-width: @col-10th-9; }
	.xxl-10th-10 { flex: 0 0 @col-10th-10; max-width: @col-10th-10; }

	.xxl-offset-10th-1 { margin-left: @col-10th-1; }
	.xxl-offset-10th-2 { margin-left: @col-10th-2; }
	.xxl-offset-10th-3 { margin-left: @col-10th-3; }
	.xxl-offset-10th-4 { margin-left: @col-10th-4; }
	.xxl-offset-10th-5 { margin-left: @col-10th-5; }
	.xxl-offset-10th-6 { margin-left: @col-10th-6; }
	.xxl-offset-10th-7 { margin-left: @col-10th-7; }
	.xxl-offset-10th-8 { margin-left: @col-10th-8; }
	.xxl-offset-10th-9 { margin-left: @col-10th-9; }
}