/* ===================================================== */
/*                         Helpers                       */
/* ===================================================== */
.absolute { position: absolute !important; }

.block { display: block !important; }

.fixed { position: fixed !important; }

.hidden,
[hidden] {
	display:none !important;
}

.lock { overflow: hidden !important; }