/* ===================================================== */
/*                    Print stylesheet                   */
/* ===================================================== */
@media print {
	* {
		background: none;
		color: #000;
		box-shadow: none;
		text-shadow: none;
	}
	
	body {
		font-family: Georgia, 'Times New CE', 'Times CE', 'Times New Roman', Times, serif;
	}

	a {
		color: #222;
		text-decoration: underline;

		&:after {
			content: " [" attr(href) "] ";
		}

		&:link,
		&:visited {
			color: #333;
		}
	}

	pre {
		overflow-x: auto;
		white-space: pre-wrap;
		word-wrap: break-word;
		background: #fff;
	}

	#wrapper {
		width: auto;
	}

	@page {
    	margin: 20mm 15mm 20mm 30mm;
  	}
}