/* ===================================================== */
/*                  Reset and Normalize                  */
/* ===================================================== */
*,
*:after,
*:before {
	box-sizing: border-box;
}

html,
body,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2, 
h3,
h4,
h5,
h6,
header,
hgroup,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

html,
body {
	min-height: 100%;
	width: 100%;
	background-color: #fff;
	color: #000;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-size: 14px;
	line-height: 1;
	text-rendering: optimizeLegibility;
	text-decoration-skip: objects;
	scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

a,
a:active,
a:hover,
a:visited {
	text-decoration: none;
}

b,
strong {
	font-weight: bold;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a,
button,
input[type="button"],
input[type="submit"],
input[type="file"],
label {
	cursor: pointer;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 19px; }
h4 { font-size: 16px; }
h5 { font-size: 13px; }
h6 { font-size: 11px; }

img {
	display: block;
	height: auto;
	max-width: 100%;
	border: 0;
	object-fit: cover;
	font-family: "object-fit:cover";
}

ul li { list-style: none; }

pre,
code,
kbd,
samp {
 	font-family: monospace, sans-serif;
}

pre {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #777;
}

pre code {
	padding: 10px;
	color: #333;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
 	padding: 0;
}

textarea { overflow: auto; }